@import "./breakpoints.scss";
@import "./variables.scss";


.title-list {
  margin: 40px 100px;
  color: $blue;

  @include sm {
    margin: 40px 50px;
  }
}

.filter-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 20px 100px;

  select, input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    padding: 10px 15px;
    background-color: $blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}


.list {
  padding: 0 100px 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;

  @include xl {
    padding: 0 20px 120px;
  }
}